.back{
    /* height: 150px; */
    background: rgb(250, 250, 250);
    border-radius: 16px;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    @apply border-4 border-gray-50 shrink-0 h-4/6 max-h-screen w-3/5  py-3 px-10 min-w-16;
}

.profile_img{
    @apply   w-[150px]   cursor-pointer;
    
}

.textbox{
    @apply  border mt-1 mb-4 ml-20 mr-20  w-2/3 px-3 py-2 rounded-lg shadow-sm text-base;
    @apply focus:outline-none;
}

.btn{
    @apply border mt-6 bg-purple-900 w-2/3 py-4 rounded-lg text-gray-50 text-xl shadow-sm text-center;
}

.btn:hover{
    background-color: #6509b1;
}
